<!DOCTYPE html>
<html>
<head>
	<title>SemFi Finnish Semantic Data Explorer</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
<div class="container">
  <h1>SemFi - Finnish Semantic Data Explorer</h1>
</div>
<div class="container">
<form>
  <div class="form-group">
    <label for="lemmaInput">Word in lemmatized form</label>
    <input type="text" class="form-control" id="lemmaInput" placeholder="Try juosta or kissa, for example">
  </div>
  <div class="form-group">
    <label for="posSelector">Select part-of-speech</label>
    <select class="form-control" id="posSelector">
      <option>noun</option>
      <option>verb</option>
    </select>
  </div>
  <button type="button" class="btn btn-primary" onclick="lookupButton(event)">Show related words</button>
</form>
</div>
<div class="container">
<p>Showing results for <span class="font-weight-bold" id="lemma"></span></p>
</div>
<div class="container" id="resultsTableContainer"></div>
</body>
<div class="container">
  <p class="font-italic">SemFi provides you with an online access to word relations obtained from <a href="http://bionlp.utu.fi/finnish-internet-parsebank.html">The Finnish Internet Parsebank</a>. These relations have successfully been used in the task of computational creativity in <a href="http://runokone.cs.helsinki.fi">Poem Machine</a> to create Finnish poetry automatically.</p><p> You can also <a href="https://github.com/mikahama/semfi">download these relations</a> to your own computer. This data is released under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>. &copy; 2015-2017 <a href="https://mikakalevi.com">Mika Hämäläinen</a></p>
</div>
<div class='error' style='display:none;'>Not found</div>
</html>